<template>
  <div class="heroes">
    <div class="container">
      <HeroesList :heroes="heroes" @open-modal="(val) => (isEditHero = val)" />
      <Modal :visible="isEditHero" @closed="(val) => (isEditHero = val)" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed } from "vue";
import { getModule } from "vuex-module-decorators";
import Heroes from "@/store/Heroes";
import HeroesList from "@/components/HeroesList.vue";
import Modal from "@/components/Modal.vue";
export default defineComponent({
  name: "Heroes",
  components: {
    HeroesList,
    Modal,
  },
  setup() {
    // const name = ref<string>("erbol");
    const HeroesModule = getModule(Heroes);
    const heroes = computed(() => HeroesModule.GetHeroes);
    const isEditHero = ref<boolean>(false);

    onMounted(() => {
      HeroesModule.SetHeroes();
    });
    return {
      heroes,
      isEditHero,
    };
  },
});
</script>

<style lang="scss" scoped>
.heroes {
  margin-top: 25px;
}
</style>
