<template>
  <div class="home">
    <img
      src="https://it-cox.com/wp-content/uploads/2019/12/responsive_website.gif"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Home",
  components: {},
});
</script>

<style lang="scss" scoped>
.home {
  height: calc(100vh - 67px);
  display: grid;
  place-items: center;

  img {
    width: calc(100% - 40vw);
    object-fit: cover;
  }
}
</style>
