<template>
  <button class="button" @click="props.click">{{ props.text }}</button>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    click: {
      required: true,
      type: Function,
    },
    text: {
      required: true,
      type: String,
    },
  },
  setup(props) {
    return {
      props,
    };
  },
});
</script>

<style scoped lang="scss">
.button {
  position: relative;
  border: 0;
  font-family: monospace, sans-serif !important;
  border-radius: 0.5rem;
  font-size: $fs-md;
  background: #ee6352;
  color: $white;
  padding: 1rem 1.25rem;
  cursor: pointer;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $transparent-dark;
    z-index: -1;
    transition: transform 190ms ease-in;
    transform: scaleX(0);
    transform-origin: right;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
</style>
