<template>
  <div class="heroes">
    <ul>
      <li class="list" v-for="hero in heroes" :key="hero.id">
        <p @click="handleClick(hero)">{{ hero.first_name }}</p>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from "vue";
import { getModule } from "vuex-module-decorators";
import Heroes from "@/store/Heroes";
import Hero from "@/types/Hero";

export default defineComponent({
  props: {
    heroes: {
      required: true,
      type: Array as PropType<Hero[]>,
    },
  },
  setup(props, { emit }) {
    const HeroesModule = getModule(Heroes);
    const openModal = () => emit("open-modal", true);

    const handleClick = (data: Hero) => {
      openModal();
      HeroesModule.SET_EDITED_HERO(data);
    };
    return {
      handleClick,
    };
  },
});
</script>

<style scoped lang="scss">
.heroes {
  background-color: $white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 1.5rem;
}
.list {
  color: $purple;
  // font-size: $fs-lg;
  font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
  p {
    display: inline-block;
    cursor: pointer;
  }
}
</style>
