<template>
  <input
    class="input"
    type="text"
    :value="modelValue"
    :placeholder="placeholder"
    @input="$emit('update:modelValue', $event.target.value)"
  />
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    modelValue: String,
    placeholder: String,
  },
});
</script>

<style scoped lang="scss">
.input {
  border: 0;
  padding: 0.5rem;
  font-size: $fs-md;
  background: $grey200;
  &:focus {
    outline: none;
  }
}
</style>
