<template>
  <div class="modal-wrap" v-if="visible">
    <div class="modal">
      <img class="modal__avatar" :src="editedHero.avatar" />

      <Input v-model="editedHero.first_name" placeholder="first name" />
      <Input v-model="editedHero.last_name" placeholder="last name" />
      <Input v-model="editedHero.email" placeholder="email" />

      <Button :click="save" text="save" />
      <Button :click="closeHandler" text="close" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { getModule } from "vuex-module-decorators";
import Heroes from "@/store/Heroes";
import Hero from "@/types/Hero";
import Button from "@/components/Button.vue";
import Input from "@/components/Input.vue";

export default defineComponent({
  components: {
    Button,
    Input,
  },
  props: {
    visible: {
      type: Boolean,
      required: true,
    },
  },
  setup(props, { emit }) {
    const HeroesModule = getModule(Heroes);
    const editedHero = computed(() => HeroesModule.GetEditedHero);
    const heroes = computed(() => HeroesModule.GetHeroes);

    const closeHandler = () => emit("closed", false);
    const overwriteHero = () => {
      const _id: number = editedHero.value.id;
      const newHeroes: Hero[] = heroes.value.map(
        (hero: Hero): Hero => {
          if (hero.id === _id) hero = editedHero.value;
          return hero;
        }
      );
      return newHeroes;
    };
    const save = () => {
      emit("closed", false);
      const newHeroes: Hero[] = overwriteHero();
      HeroesModule.SET_HEROES([...newHeroes]);
    };
    return {
      closeHandler,
      editedHero,
      save,
    };
  },
});
</script>

<style lang="scss" scoped>
.modal-wrap {
  position: absolute;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: $grey200;

  .modal {
    max-width: 700px;
    padding: 20px;
    background: $white;
    display: flex;
    flex-direction: column;

    .modal__avatar {
      border-radius: 15px;
      object-fit: cover;
    }
    .input,
    .button {
      margin-top: 16px;
    }
    .input {
      &:placeholder-shown {
        outline: 1px solid $red;
      }
    }
  }
}
button {
  padding: 15px;
  cursor: pointer;
}
</style>
