<template>
  <div class="nav-bar">
    <router-link to="/">Home</router-link> |
    <router-link to="/heroes">Heroes</router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({});
</script>

<style scoped lang="scss">
.nav-bar {
  background-color: $white;
  padding: 1.02rem;
}
</style>
