@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-color: $grey300;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
